page-basket {
  .parentdiv{
    border-bottom: 2px solid #0F6196;
    display: flex;
    margin-bottom: 10%;
    padding-bottom: 5%;
    margin-right: auto;

  }
  .engLine{
    border-right: 2px solid #0F6196;
  }
  .arLine{
     border-left: 2px solid #0F6196;
    // margin-right: -9px;
  }
  .firstChildDiv{ //max width for other divs
  //  background-color: yellow;
    float: left;
    margin-right: auto;
    order: 1;
    padding: 15.9px;
    padding-bottom: 0;
    max-width: 46%;
    margin-bottom: auto;

  }
  .secondChildDiv{
  //  background-color: green;
    float: right;
    margin-right: auto;
    order: 2;
    margin-bottom: auto;
  }
  .thirdChildDiv{
    order: 3;
    margin-right: auto;
  }
  .fourthChildDiv{
    order: 4;
    margin-right: auto;
  }
  .centerVertical{
    padding:50%; //let it 50% 3shan betbooz fl devices
  }
  .centerHorizontal{
    text-align: center;
  }
  hr{
      background-color:white !important;
  	  width:100%;
      display: block;
      height: 1px;
      border: 0;
      border-top: 2px solid #0F6196;
      //border-bottom: white;
    //  margin: 1em 0;
      padding: 0;
      padding-bottom: 1.8rem;
    //  margin-left: 2%;


  }
  .dark-button{
    width:90%;
    height: 9%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #0F6196;
    color: white;
    border-radius: 22px;
    font-family: "Helvetica";
    font-size: 20px;
    letter-spacing: 0.5px;

  }
  .priceLastStep{
    text-align: center;
    //padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
  .totalPrice{
    color: #0C4366;
    display: block;
    font-size: 1.9em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .estimatedTime{
    color: #0C4366;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  .beforePriceAndDelivery{
    color: #0C4366;
    display: block;
    font-size: 1.4em;
    margin-top: 0em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
  //  font-weight: bold;
  }
  .customColor{ //should be changed by a variable
    color: #073654;
  }
}
