<!--
  Generated template for the BasketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

     <ion-title class="navTitle">
     <p class="{{'TITLELANG' | translate}} title"> {{"CART" | translate }} </p>
    </ion-title>
  <!--  <ion-title style="text-align: center;">{{ "CART" | translate }}</ion-title> -->
      <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="cartCustom"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="goMenu()">
        <ion-icon name="setting"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding dir=" {{'LANG_DIR' | translate}}">

<div>
    <ion-input dir="{{'LANG_DIR' | translate}}" class="oval" primary [(ngModel)]="searchQuery2"
                 (keyup)="updateListByName($event)"
                 (ionCancel)="onCancelByName($event)"
                 show-cancel="true"
                 showCancelButton="true"
                 placeholder="{{'SEARCH_NAME' | translate}}">
   <img class="image" src="assets/icon/White Loop.png"/>
    </ion-input>
        <ion-list *ngIf="showSearchResult">

      <ion-item  *ngFor = "let res of searchResults.data">

        <div *ngIf="noResultsBool == true">
      <img (click)="detailedProduct(res.id)" class="medicine-image" src = {{res.image}}/> <!-- static to be updated -->

      <h3 style="text-align: center;" (click)="detailedProduct(res.id)">{{res.name_english}}</h3>
    <button  ion-button class="cart" name="add-circle" (click)="addToCart(res)">
     <img src="assets/icon/ADD to activated.png">
  </button>
    <hr class="hrDetails">
    <p class="p textDetails" style="font-size: 1.2rem;text-align: center;">{{"DESCRIPTION" | translate }}: {{res.english_description}}</p>
  <hr class="hrDetails">
  </div>
  <h3 style="text-align: center;" *ngIf="noResultsBool == false && currentLanguage=='en'">No results found!</h3>
   <h3 style="text-align: center;" *ngIf="noResultsBool == false && currentLanguage=='ar'">لا توجد نتائج</h3>
      </ion-item>




    </ion-list>
<!-- custom color applied for all classes.. changed accordingly -->
<!--loop of each item in my basket -->
<div class="parentdiv" *ngFor="let order of orderData.order" dir="{{'LANG_DIR' | translate}}">
<ion-label class="round products paddingLeft">
<div class="image">
   <img class="medicine-image" src = "assets/icon/panadol.png"/>
   </div>
   <div class="details">
     <p class="name">{{order.name}}</p>
     <p class="description">{{order.description}} Back & Body</p>   <!-- no description returned -->
   </div>
   <div class="price {{ 'AR' | translate }}">
     <ion-icon class="money" name="money"></ion-icon>
     <p class="cash {{ 'CASHLANG' | translate }}">{{ order.price }} {{ "EGP" | translate }}</p>

   </div>
   <div class="amount {{ 'AMOUNTAR' | translate }}">
   <ion-icon name="inc" (tap)="increment(order.id)"></ion-icon>
    <p class=" quant {{ 'QUANTAR' | translate }}">{{ order.qty }}</p>
    <ion-icon name="dec" (tap)="decrement(order.id)"></ion-icon>
    </div>
   <ion-icon class="centerVertical" name="delete" (click)="deleteButton(order.id)"></ion-icon>

</ion-label>


<!--
  <div class="firstChildDiv centerHorizontal customColor {{ 'VERTLINE' | translate}}" >
      <img class="medicine-image" src = "assets/icon/panadol.jpg"/>

    <h1>{{ order.name }}</h1>
    <p>{{ "DESCRIPTION" | translate }}</p>
  </div>
  <div class="secondChildDiv centerHorizontal customColor">
      <ion-icon style="padding-top: 50%" name="cash"> {{ order.price }} {{ "EGP" | translate }}</ion-icon>
  </div>
  <div class="thirdChildDiv centerHorizontal customColor">
    <ion-icon name="arrow-dropup" (click)="increment(order.id)"></ion-icon>
    <p>{{ order.qty }}</p>
    <ion-icon name="arrow-dropdown" (click)="decrement(order.id)"></ion-icon>
  </div>

  <div class="fourthChildDiv centerHorizontal customColor">

    <ion-icon class="centerVertical" name="trash" (click)="deleteButton(order.id)"></ion-icon>

  </div>
-->

</div>
<p class="p {{'SPACELANG' | translate}}" *ngIf="empty == true">{{ "EMPTY_ORDER" | translate}}</p>
  <button ion-button class = "dark-button" (tap)="clearPrescription()" *ngIf="empty == false">{{ "CLEAR_PRESC" | translate}}</button>

<div dir="{{'LANG_DIR' | translate}}">
  <ion-label >

    <hr class="space hr">
    <div class="center">
      <p class="p {{'SPACELANG' | translate}}">{{ "PRICE" | translate }}</p><p class="p">{{ totalPrice }} {{ "EGP" | translate }}</p>
    </div>
    <div class="center bold">
      <p class="total p {{'SPACELANG' | translate}}">{{ "TOTAL" | translate }}</p><p class="p total">{{ totalPrice }} {{ "EGP" | translate }}</p>
    </div>
    <hr class="spaceTop hr">
        <div class="{{'MARGINLANG' | translate}}" dir="{{'LANG_DIR' | translate}}">
        <ion-icon name="location"></ion-icon>
        <h4>{{ "TO" | translate }}</h4>
        <ion-label (tap)="changeAddress()" class="oval3">{{ currentAddress }}</ion-label>
    </div>
  </ion-label>
  </div>
<!--<hr> -->
<!--
<div class="priceLastStep">
    <p class="beforePriceAndDelivery"><ion-icon name="cash"></ion-icon> {{ "PRICE" | translate }} {{ totalPrice }} {{ "EGP" | translate }}</p>
    <p class="beforePriceAndDelivery"><ion-icon name="cash"></ion-icon> {{ "DELIVERY" | translate }}</p>
    <p class="totalPrice">{{ "TOTAL" | translate }} {{ totalPrice }} {{ "EGP" | translate }}</p>
    <hr>
    <p class="estimatedTime">{{ "TIME" | translate }}</p>
    <p class="estimatedTime">{{ "TIMEVAL" | translate }}</p>
</div>

-->
<p class="promo" (tap)="openPromo()" style="display: block;">{{ "PROMO" | translate}}</p>

<button ion-button [disabled]="disableButton" class = "dark-button" (tap)="confirm()">{{ "CONFIRM" | translate }}</button>
</div>
</ion-content>
