page-promo-code {
  .parentdiv {
      display: flex;
      margin-bottom: -2%;
      padding-bottom: 5%;
      margin-left: -4%;
      width: 112%;
  }
  hr {
      width: 80%;
      display: block;
      height: 1px;
      border: 0;
      border-top: 2px solid #0F6196;
      padding: 0;
      padding-bottom: 1.8rem;
  }

    .dark-button{
  width:90%;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #0F6196;
  color: white;
  border-radius: 22px;
  font-family: "Helvetica";
  font-size: 20px;
  letter-spacing: 0.5px;

}
.add-cancel{
  width:30%;
  height: 25px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  background-color: #0F6196;
  color: white;
  border-radius: 22px;
  font-family: "Helvetica";
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-right: 20px;
}
  .priceLastStep {
      text-align: center;
      padding-bottom: 1.8rem
  }
  .totalPrice {
      color: #0C4366;
      display: block;
      font-size: 1.9em;
      margin-top: .67em;
      margin-bottom: .67em;
      margin-left: 0;
      margin-right: 0;
      font-weight: 700
  }
  .estimatedTime {
      color: #0C4366;
      font-size: 1.5em;
      margin: 0;
      padding: 0;
      font-weight: 700
  }
  .beforePriceAndDelivery {
      color: #0C4366;
      display: block;
      font-size: 1.4em;
      margin-top: 0em;
      margin-bottom: .4em;
      margin-left: 0;
      margin-right: 0
  }
  .customColor {
      color: #073654
  }


  .ion-ios-cartCustom-outline,
  .ion-ios-cartCustom,
  .ion-md-cartCustom,
  .ion-md-cartCustom-outline {
      content: url('../assets/icon/ACTIVE blue Basket.png');
      margin-left: 0;
      max-width: 35px;
      max-height: 150px
  }
  .ion-ios-back-outline,
  .ion-ios-back,
  .ion-md-back,
  .ion-md-back-outline {
      content: url('../assets/icon/Blue Back.png');
      max-width: 28px;
      max-height: 130px
  }
  .ion-ios-setting-outline,
  .ion-ios-setting,
  .ion-md-setting,
  .ion-md-setting-outline {
      content: url('../assets/icon/deactivated menu.png');
      margin-left: 0;
      max-width: 35px;
      max-height: 150px
  }
  .ion-ios-money-outline,
  .ion-ios-money,
  .ion-md-money,
  .ion-md-money-outline {
      content: url('../assets/icon/blue cash.png');
      margin-left: 0;
      max-width: 50%;
  }
      .ion-ios-delete-outline,
  .ion-ios-delete,
  .ion-md-delete,
  .ion-md-delete-outline {
      content: url('../assets/icon/Blue trash.png');
      margin-left: -5%;
      max-width: 15%;
      vertical-align: middle;
  }
  .ion-ios-inc-outline,
  .ion-ios-inc,
  .ion-md-inc,
  .ion-md-inc-outline {
      content: url('../assets/icon/up.png');
      margin-left: 0;
      max-width: 50%;
  }
  .ion-ios-dec-outline,
  .ion-ios-dec,
  .ion-md-dec,
  .ion-md-dec-outline {
      content: url('../assets/icon/down.png');
      margin-left: 0;
      max-width: 50%;
  }
      .ion-ios-location-outline,
  .ion-ios-location,
  .ion-md-location,
  .ion-md-location-outline {
      content: url('../assets/icon/Location blue.png');
      margin-left: 0;
      max-width: 35px;
      max-height: 150px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 2%
  }
      .title {
      font-size: 23px;
      text-transform: uppercase;
      margin-left: -10%;

  }
      .oval3 {
      width: 60%;
      margin-right: 10px;
      padding-top: 10px;
      padding-left: -1%;
      margin-top: 0;
      margin-bottom: 0;
      background-color: #cdebf9;
      border-radius: 50px;
      display: inline-block;
      font-family: "Helvetica";
      font-size: 15px;
      font-weight: 800;
      color: #0F6196;
      height: 40px;
      vertical-align: middle;
      text-align: center
  }
      .spaceRight {
      margin-right: 20%
  }
          .spaceLeft {
      margin-left: 20%
  }
  .bold {
      font-weight: 800;
      margin-top: -9%;

  }

  .spaceTop {
      margin-top: 1%
  }
      h4 {
      display: inline-block;
      color: #0F6196;
      vertical-align: middle;
      margin-right: 4%;
      font-weight: 600
  }
  .toEn {
      margin-top: 10%;
      margin-left: 8%
  }
  .toAr {
      margin-top: 10%;
      margin-right: 7%
  }
  .cashAr {
  margin-right: -10%;
  }
  .ar{
  margin-right: 6%;
  }
      .oval {
      width: 107%;
      padding-left: 10px;
      background-image: url("../assets/icon/White Loop.png");
      background-size: 10% 80%;
      background-repeat: no-repeat;
      background-position: 95%;
      margin-left: -3%;
      background-color: #cdebf9;
      border-radius: 50px;
      display: inline-block;
      font-family: "Helvetica";
      font-size: 20px;
      margin-bottom: 8%;

  }
 .medicine-image{
display: inline-block;
margin: auto;
width: 98%;
}
p{
color: #0F6196;
}
      .p {
      display: inline-block;
      font-size: 18px;
  }
.image{
display: inline-block;
width: 20%;
vertical-align: middle;
}
.details{
display: inline-block;
vertical-align: middle;
}
.name{
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.3px;
  display: inline-block;
  margin-top: 3%;

  }
.description{
  font-size: 13px;
  margin-top: -12%;
  letter-spacing: 1px;
  font-weight: normal;

  }
.round {
      padding: 4%;
      font-family: "Helvetica";
      font-size: 12px;
      font-weight: 700;
      color: #0F6196;
      border-radius: 22px;
      background-color: #EBF7FC;
      width: 90%
  }
.products {
      margin-right: 0%;
      margin-left: 2.5%;
      margin-top: -1%;
      margin-left: auto;
      margin-right: 4%;
      padding-left: 4%;
      padding-right: 5%
}
  .promocode {
      margin-left: -4%;
      width: 108%;
      margin-top: 4%;
      padding: 5%;
      font-family: "Helvetica";
      font-size: 12px;
      font-weight: 700;
      color: #0F6196;
      border-radius: 22px;
      background-color: #EBF7FC;
  }

   .paddingLeft {
      padding-left: 5%
  }
  .price {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3%;
  width: 25%;
  }
  .cash {
   display: inline-block;
   vertical-align: middle;
   font-size: 17px;
   font-weight: normal;
   margin-left: -10%;
  }
  .money{
  vertical-align: middle;

  }
  .amount{
       display: inline-block;
   vertical-align: middle;
   width: 10%;
   margin-left: 6%;
  }
  .quant{
  margin-left: 12%;
  }
      hr {
      display: block;
      margin-bottom: -5%;
      margin-left: auto;
      margin-right: auto;
      border-top: 1.5px solid #3CABE3;
      width: 70%;
      margin-top: -3%;
      background-color: #EBF7FC!important;
  }
    .oval2 {
  margin: 0px;
  width: 50%;
  height: 35px;
  background-color: #cdebf9;
  border-radius: 50px;
  padding: 0px;
  text-align: center;
  padding-top: 20%;

  }
  .center{
  text-align: center;
  }
  .total{
    font-size: 21px;
  }
  .amountAr{
  margin-left: -5%;
  }
  .quantAr{

  margin-right: 12%;
  }
  .toolbar-background-md{
  background: #fff;
  }
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background-image: none;
  }
  .toolbar-background{
  height: 60%;
  }
  .hr{
  background-color: white!important;
  margin-top: 0%;
  }
  .marg{
      margin-top: 2%;

  }
  .scroll-content  {
  margin-top: 50px !important
  }
  .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
  border-style: none;
  background: #fff;
  }
  .title-ios {
  margin-left: 0px;
  }
      .promo {
      line-height: 2;
      text-align: center;
      color: #3CABE3;
      max-width: 85%;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
      margin-top: 0;
      margin-bottom: 4%;
      background-color: #CFEAF8;
      border-radius: 50px;
      display: inline-block;
      font-family: "Helvetica";
      font-size: 20px;
      height: 40px
  }
  .text{
      margin: auto;
      width:80%;
      margin-right: auto;
      margin-left: 17%;
      font-family: "Helvetica";
      font-size: 18px;
  }
  @media (max-width: 320px){
  .text{
  width:85%;
  }

  }
  @media (min-width: 768px){
      .text{

  margin-bottom: 3%
  }
  hr{
  margin-bottom:0%;
  }
  }
.text-input::-moz-placeholder {
color: #3CABE3;
}

.text-input:-ms-input-placeholder {
color: #3CABE3;

}

.text-input::-webkit-input-placeholder {
text-indent: 0;
color: #3CABE3;
font-weight: normal;
}
}
