page-order-history {
  /*.round {
      padding: 4%;
      font-family: "Helvetica";
      font-size: 12px;
      font-weight: 700;
      color: #0F6196;
      border-radius: 22px;
      background-color: #cdebf9;
      width: 90%;
      margin-bottom: 10px;
  }*/
    .ion-ios-cartCustom-outline,
    .ion-ios-cartCustom,
    .ion-md-cartCustom,
    .ion-md-cartCustom-outline {
        content: url('../assets/icon/deactivited cart.png');
        margin-left: 0;
        max-width: 35px;
        max-height: 150px
    }
    .ion-ios-setting-outline,
    .ion-ios-setting,
    .ion-md-setting,
    .ion-md-setting-outline {
        content: url('../assets/icon/deactivated menu.png');
        margin-left: 0;
        max-width: 35px;
        max-height: 150px
    }
    p {
        display: block
    }
    .oval {
        line-height: 2;
        text-align: center;
        color: #3CABE3;
        max-width: 65%;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        margin-top: 0;
        margin-bottom: 4%;
        background-color: #EBF7FC;
        border-radius: 50px;
        display: inline-block;
        font-family: "Helvetica";
        font-size: 20px;
        height: 40px
    }
    .title {
        font-size: 23px;
        font-family: Highland;
    }

    .toolbar-background-md{
    background: #fff;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
    margin-bottom:0px;
    }
    .toolbar-background{
    height: 60%;
    }
    .scroll-content  {
    margin-top: 55px !important
    }
        .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: none;
    background: #fff;
    }

  .content-ios hr{
  margin-top: -5%;
  }
    h2{
    text-align: center;
    color: #0F6196;
    font-weight: 700;
    }
        .dark-button {
        width: 25%;
        height: 30px;
        display: block;
        background-color: #0F6196;
        color: white;
        border-radius: 13px;
        font-family: "Helvetica";
        font-size: 20px;
        letter-spacing: .5px;
        text-transform: lowercase;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        margin-left: 65%;
    }
    .content-ios hr {
       margin-top: 0%;
    }
    .toolbar-ios ion-title{
    width: 119%;
    margin-left: -7% !important;
    }
    .md,.navTitle {
    margin-left: 0px !important;
    }
    @media (max-width:320px) {
      .title{
      font-size: 21px;
        margin-left: -10px;
      }
    }
    .details {
     display: block;
     margin-right: auto;
     margin-top: auto;
     margin-left: auto;
     padding-left: 2%;
     padding-right: 2%;
     border-radius: 22px;
     background-color: #cdebf9;
     width: 65%;
     height: 160px;
     margin-bottom: 30px;
    }
        .img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 55%;
        margin-top: 15px;
    }
    .name{
    font-family: "Helvetica";
    font-size: 19px;
    font-weight: bold;
    color: #0F6196;
    margin-top: 2px;
    margin-bottom: 2px;
    }
    .price{
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: normal;
    color: #0F6196;
    margin-top: 0px;
    }
        .search {
        width: 109%;
        padding-left: 10px;
        background-image: url("../assets/icon/White Loop.png");
        background-size: 10% 80%;
        background-repeat: no-repeat;
        background-position: 95%;
        margin-left: auto;
        background-color: #cdebf9;
        border-radius: 50px;
        display: inline-block;
        font-family: "Helvetica";
        font-size: 20px;
        margin-left: -4.5%
    }
        @media (min-width: 760px){
        .search{
        width: 89%;
        margin-left: 6.5%;
        }
    }

}
