<!--
  Generated template for the LocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



</ion-header>


<ion-content padding >
    <img class="image" src="assets/icon/logo.png"/>


  <h3 class="header"><span>{{ "LOCATION" | translate}}</span></h3>
  <form class = "form" [formGroup]="validations_form" (ngSubmit)="locationSubmit()">
    <ion-item dir="{{'LANG_DIR' | translate}}">
        <ion-input #myInput disabled="true" class="oval" value="{{this.selectedCity}}" side = "right" [(ngModel)]="loc.location.city" formControlName="city" (tap)="this.selectCity()" placeholder="{{ 'CITY' | translate}}"></ion-input>
        </ion-item>

     <div class="validation-errors" dir="{{'LANG_DIR' | translate}}">
      <ng-container *ngFor="let validation of validation_messages.city">
        <div class="error-message" *ngIf="validations_form.get('city').hasError(validation.type) && (validations_form.get('street').touched || validations_form.get('building').touched || validations_form.get('app').touched || validations_form.get('floor').touched || validations_form.get('mobile').touched || validations_form.get('tel').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
        <ion-item dir="{{'LANG_DIR' | translate}}">
        <ion-input disabled="true" class="oval"  value="{{this.selectedLocation}}" [(ngModel)]="loc.location.location" formControlName="location" (tap)="selectLocation()" placeholder="{{ 'LOC' | translate}}"></ion-input>
        </ion-item>
      <div class="validation-errors" dir="{{'LANG_DIR' | translate}}">
      <ng-container *ngFor="let validation of validation_messages.location">
        <div class="error-message" *ngIf="validations_form.get('location').hasError(validation.type) && (validations_form.get('street').touched || validations_form.get('building').touched || validations_form.get('app').touched || validations_form.get('floor').touched || validations_form.get('mobile').touched || validations_form.get('tel').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-label type="text" class = "dark-button" style="padding:10px;margin-bottom: 10px;" (click)="getLocation()">Automatically set location</ion-label>
        <ion-item dir="{{'LANG_DIR' | translate}}">
        <ion-input class="oval" type="text"  [(ngModel)]="loc.location.street" formControlName="street" placeholder="{{ 'STREET' | translate}}"></ion-input>
        </ion-item>
     <div class="validation-errors" dir="{{'LANG_DIR' | translate}}">
      <ng-container *ngFor="let validation of validation_messages.street">
        <div class="error-message" *ngIf="validations_form.get('street').hasError(validation.type) && (validations_form.get('street').dirty || validations_form.get('building').touched || validations_form.get('app').touched || validations_form.get('floor').touched || validations_form.get('mobile').touched || validations_form.get('tel').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
        <ion-item dir="{{'LANG_DIR' | translate}}">
        <ion-input class="oval" type="text"  [(ngModel)]="loc.location.building" formControlName="building" placeholder="{{ 'BUILDING' | translate}}"></ion-input>
        </ion-item>
      <div class="validation-errors" dir="{{'LANG_DIR' | translate}}">
      <ng-container *ngFor="let validation of validation_messages.building">
        <div class="error-message" *ngIf="validations_form.get('building').hasError(validation.type) && (validations_form.get('building').dirty || validations_form.get('app').touched || validations_form.get('floor').touched || validations_form.get('mobile').touched || validations_form.get('tel').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

        <!--<div class="div wid APPA" > -->
        <ion-item dir="{{'LANG_DIR' | translate}}">
        <ion-input class="small oval AP" type="number" min="1" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="loc.location.App_no" formControlName="app" placeholder="{{ 'APPA' | translate}}"></ion-input>
        <ion-input  class="small oval FL" type="number" min="0" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="loc.location.floor" formControlName="floor" placeholder="{{ 'FLOOR' | translate}}"></ion-input>
         </ion-item>

         <!-- </div> -->
         <!-- <div class="div wid second" > -->

        <!-- </div>-->
      <div class="validation-errors {{ 'APPAR' | translate}}" dir="{{'LANG_DIR' | translate}}">
      <ng-container *ngFor="let validation of validation_messages.app">
        <div style="display:inline-block; margin-right: 10px;" class="error-message" *ngIf="validations_form.get('app').hasError(validation.type) && (validations_form.get('app').dirty || validations_form.get('mobile').touched || validations_form.get('tel').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
        <ng-container *ngFor="let validation of validation_messages.floor">
        <div style="display:inline-block;" class="error-message" *ngIf="validations_form.get('floor').hasError(validation.type) && (validations_form.get('floor').dirty || validations_form.get('mobile').touched || validations_form.get('tel').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
      </div>
        <ion-item dir="{{'LANG_DIR' | translate}}">
        <ion-input class="oval" type="number" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="loc.mobile" formControlName="mobile" placeholder="{{ 'MOB' | translate}}"></ion-input>
        </ion-item>
      <div class="validation-errors" dir="{{'LANG_DIR' | translate}}">
      <ng-container *ngFor="let validation of validation_messages.mobile">
        <div class="error-message" *ngIf="validations_form.get('mobile').hasError(validation.type) &&  (validations_form.get('tel').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
      </div>
        <ion-item dir="{{'LANG_DIR' | translate}}">
        <ion-input class="oval" type="number" inputmode="numeric" pattern="[0-9]*" [(ngModel)]="loc.telephone" formControlName="tel" placeholder="{{ 'TEL' | translate}}"></ion-input>
        </ion-item>

      <button ion-button type="submit" [disabled]="!validations_form.valid" class = "dark-button">{{ "SUBMIT" | translate}}</button>
    </form>


</ion-content>
