page-tabs {
    .ion-ios-homeCustom-outline,
    .ion-ios-homeCustom,
    .ion-md-homeCustom,
    .ion-md-homeCustom-outline {
        content: url('../assets/icon/white HOME.png');
        max-width: 30px;
      //  margin-top: 20px;
    }
    .ion-ios-medicineCustom-outline,
    .ion-ios-medicineCustom,
    .ion-md-medicineCustom,
    .ion-md-medicineCustom-outline {
        content: url('../assets/icon/White pill.png');
        max-width: 70px;
        margin-top: -5px;
    }
    .ion-ios-callCustom-outline,
    .ion-ios-callCustom,
    .ion-md-callCustom,
    .ion-md-callCustom-outline {
        content: url('../assets/icon/phone circle white.png');
        max-width: 70%
    }
    .ion-ios-personCustom-outline,
    .ion-ios-personCustom,
    .ion-md-personCustom,
    .ion-md-personCustom-outline {
        content: url('../assets/icon/White my account.png');
        max-width: 30px
    }
    .ion-ios-settingsCustom-outline,
    .ion-ios-settingsCustom,
    .ion-md-settingsCustom,
    .ion-md-settingsCustom-outline {
        content: url(../assets/icon/whitesettings.png);
        max-width: 30px
    }
    .tab-button:nth-child(2) {
        padding-left: 5px;
        padding-right: 3px
    }
    .tab-button-text {
        font-size: 10px;
            width: 100%;

    }
    @media (max-width:320px) {
        span .tab-button-text {
            font-size: 9px
        }
    }
    .tab-item.tab-item-active,
    .tab-item.active,
    .tab-item.activated {
        opacity: 0;
        activator: none
    }
}