page-register-email {
    .body {
        margin: 0;
        padding: 0
    }
    @font-face {
        font-family: Highland;
        src: url(../assets/fonts/HighlandGothicLightFLF.ttf)
    }
    .header {
        text-align: center;
        color: #3CABE3;
        font-family: Highland;
        border-bottom: 3px solid #3CABE3;
        line-height: .1em;
        margin-bottom: 20px;
        margin-left: 5%;
        margin-right: 5%
    }
    .header span {
        width: 90%;
        background: #fff;
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px
    }
    .dark-button {
        padding: 20px;
        width: 90%;
        height: 15%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #0F6196;
        color: white;
        border-radius: 22px;
        font-family: "Helvetica";
        font-size: 20px;
        letter-spacing: .5px
    }
    div {
        display: inline-block;
        margin-right: 0
    }
    .wid {
        width: 53%;
        margin-right: -1.5%
    }
    .small {
        max-width: 80%
    }
    .text {
        margin-left: 10px;
        display: inline-block;
        margin-right: 8px;
        font-family: "Helvetica";
        font-size: 23px;
        margin-bottom: 14px
    }
    .s {
        max-width: 30%;
        margin-left: 0
    }
    .second {
        margin-left: -15px;
        width: 50%
    }
    .oval {
        margin-right: 10px;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: #cdebf9;
        border-radius: 50px;
        display: inline-block;
        font-family: "Helvetica";
        font-size: 20px;
        height: 40px
    }
    .image {
        max-width: 300px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
        margin-bottom: -10px
    }
    .text-input{
    line-height: 2;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
   }
       .validation-errors {
       width: 88%;
        margin-left: 7%;
        margin-right: 7%
    }
    .error-message {
        color: red
    }
   .pharmacy {
     margin-top: 30px;
     display: block;
     margin-right: auto;
     //margin-top: auto;
     margin-left: auto;
     //padding-left: 0%;
     //padding-right: 2%;
     border-radius: 22px;
     background-color: #cdebf9;
     width: 35%;
     height: 90px;
    }
    .imgP {
        margin-top: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
        @media (min-width: 760px){
        .pharmacy{
        height: 120px;
        }
        .imgP {
        margin-top: 5%;
        }

    }
    .text-input {
    opacity: 0.5;
    margin-left: 20px;
    }
}