page-home {
    .body {
        margin: 0;
        padding: 0
    }
    .dark-button {
        padding: 20px;
        width: 90%;
        height: 15%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #0F6196;
        color: white;
        border-radius: 22px;
        font-family: "Helvetica";
        font-size: 20px;
        letter-spacing: .5px
    }
    .round {
        padding-top: 15%;
        padding-bottom: 12%;
        font-family: "Helvetica";
        font-size: 12px;
        font-weight: 700;
        color: #0F6196;
        border-radius: 22px;
        background-color: #cdebf9
    }
    .discount {
        font-weight: 400;
        margin-right: 0%;
        width: 97%;
        margin-left: 2.5%;
        padding: 8%
    }
    .medi {
        margin-left: 0%;
        width: 33%;
        background-image: url(../assets/icon/medi.png);
        background-position: 10% 21%;
        background-size: 104%;
        background-repeat: no-repeat
    }
     .scan {
        margin-left: 0%;
        width: 33%;
        background-image: url(../assets/icon/barcode.png);
        background-position: 50% 21%;
        background-size: 65%;
        background-repeat: no-repeat
    }
    .presc {
        margin-left: -3.5%;
        width: 33%;
        background-image: url(../assets/icon/presc.png);
        background-position: 50% 30%;
        background-size: 50%;
        background-repeat: no-repeat
    }
    .title {
        font-size: 23px;
        font-family: Highland
    }
    hr {
        width: 97%;
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid #0F6196;
        margin: 1em 0;
        padding: 0;
        margin-left: 2%
    }
    .oval {
        width: 107%;
        padding-left: 10px;
        background-image: url("../assets/icon/White Loop.png");
        background-size: 10% 80%;
        background-repeat: no-repeat;
        background-position: 95%;
        margin-left: -3%;
        background-color: #cdebf9;
        border-radius: 50px;
        display: inline-block;
        font-family: "Helvetica";
        font-size: 20px
    }
    .menu {
        width: 108%;
        background-color: #0F6196;
        border-radius: 10px;
        height: 10%;
        margin: -4%;
        margin-top: 7%
    }
    ul {
        width: 105%;
        height: 100%;
        margin-left: -11%
    }
    li {
        float: left;
        width: 20%;
        height: 100%;
        margin-right: 1%
    }
    .image {
        width: 15%
    }
    .products {
        margin-right: 0%;
        margin-left: 2.5%;
        margin-top: 6%;
        padding: 20%
    }
    .text {
        color: #86c5da;
        font-size: 18px;
        font-weight: 400;
        text-align: center
    }
    .p {
        padding-top: 55px;
        text-transform: none;
        font-size: 11px
    }
    .img60 {
        width: 60px;
        margin-top: -4%
    }
    .img50 {
        width: 50px
    }
    .img70 {
        width: 70px
    }
    img {
        max-width: 200%
    }
    .img65 {
        width: 65px;
        margin-top: 14%
    }
    .img30 {
        width: 30px
    }
    li {
        list-style: none;
        margin-right: 1%
    }
    .li19 {
        margin-top: 4%;
        margin-right: -6%
    }
    .li18 {
        margin-top: 5%;
        margin-right: -3%
    }
    .li15 {
        margin-top: 3%;
        margin-right: 6%
    }
    .li6 {
        margin-top: -6%;
        margin-right: 9%
    }
    .ion-ios-cartCustom-outline,
    .ion-ios-cartCustom,
    .ion-md-cartCustom,
    .ion-md-cartCustom-outline {
        content: url('../assets/icon/deactivited Cart.png');
        margin-left: 0;
        max-width: 40px;
        max-height: 150px
    }
    .ion-ios-back-outline,
    .ion-ios-back,
    .ion-md-back,
    .ion-md-back-outline {
        content: url('../assets/icon/Blue Back.png');
        max-width: 28px;
        max-height: 130px
    }
    .ion-ios-setting-outline,
    .ion-ios-setting,
    .ion-md-setting,
    .ion-md-setting-outline {
        content: url('../assets/icon/deactivated menu.png');
        margin-left: 0;
        max-width: 35px;
        max-height: 150px
    }
    .container {
        width: 105%
    }
    @media (min-width:768px) {
        .p {
            padding-top: 180px;
            text-transform: none;
            font-size: 25px
        }
    }
    h3,
    h4 {
     //   font-family: Highland;
        text-align: center;
        margin-top: 7%
    }
    h3 {
        color: #0F6196
    }
    .medicine-image {
        display: block;
        margin: auto;
        width: 15%
    }
    .ion-ios-addCart-outline,
	.ion-ios-addCart,.ion-md-addCart,.ion-md-addCart-outline {
	content: url('../assets/icon/ADD to activated.png');
	margin: auto;
	max-width: 50px;
	max-height: 150px;
}
    .cart {
        display: block;
        background-color: #fff;
        max-width: 8%;
        margin-bottom: .5%;
        margin: auto;
    }
    .button-md{
    	box-shadow: none;
    }
    .textDetails {
        text-align: center;
        padding-top: 0;
        color: #0F6193;
        margin-left: 10%;
        margin-right: 10%;
        font-family: "Helvetica";
        font-size: 18.2px;
        letter-spacing: .25px
    }
    .hrDetails {
        display: block;
        margin-top: .5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        border-width: 1.5px;
        border-top: 2px solid #0F6196;
        width: 55%
    }
        .toolbar-background-md{
    background: #fff;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
    margin-bottom:0px;
    }
    .toolbar-background{
    height: 60%;
    }
    .scroll-content  {
    margin-top: 55px !important
    }
        .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: none;
    background: #fff;
    }
        @media (min-width: 760px){
        .oval{
        width: 102%;
        margin-left: -1%;
        }
    }
    .toolbar .toolbar-ios{
    padding-top: 10px;
    }
    @media (max-width:320px) {
      .title{
      font-size: 21px;
      }
    }
}
