<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
<!--
    <ion-buttons left>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="back"></ion-icon>
      </button>
    </ion-buttons>
-->
    <ion-title class="navTitle">
     <p class="{{'TITLELANG' | translate}} title"> {{"CATEGORIES" | translate }} </p>
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="goBasket()">
        <ion-icon name="cartCustom"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goMenu()">
        <ion-icon name="setting"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- <div class="calendar-comp">
  <template #headerTemp>
    <div class="cal-cell-row">
      <div class="cal-cell cal-past columnHeader" *ngFor="let label of days_label">
         {{label}}
      </div>
    </div>
  </template>
  <mwl-calendar-month-view [viewDate]="date" [headerTemplate]="headerTemp">
  </mwl-calendar-month-view>
</div> -->
    <ion-input class="oval" primary [(ngModel)]="searchQuery2"
                 (keyup)="updateListByName($event)"
                 (ionCancel)="onCancelByName($event)"
                 show-cancel="true"
                 showCancelButton="true"
                 placeholder="Search By Name">
   <img class="image" src="assets/icon/White Loop.png"/>
    </ion-input>
        <ion-list *ngIf="showSearchResult">
      <ion-item  *ngFor = "let res of searchResults.data">
      <img (click)="detailedProduct(res.id)" class="medicine-image" src = "assets/icon/panadol.png"/> <!-- static to be updated -->

      <h3 (click)="detailedProduct(res.id)">{{res.name}}</h3>
    <button  ion-button class="cart" name="add-circle" (click)="addToCart(res)">
     <img src="assets/icon/ADD to activated.png">
  </button>
    <hr class="hrDetails">
    <p class="p textDetails">Description: {{res.description}}</p>
  <hr class="hrDetails">

      </ion-item>
    </ion-list>
        <div *ngIf="showPage">

<ion-label class="round products pharm">
	<ion-label align="middle" class="first roundPharm products heightPharm pharmacy" style="display: inline-block;">
		<img class="imgP" src="assets/toBeRemoved/seif.png"/>
	</ion-label>
	<ion-label align="middle" class="roundPharm products heightPharm pharmacy" style="display: inline-block;">
		<img class="imgP" src="assets/toBeRemoved/elezaby.png"/>

	</ion-label>
	<ion-label align="middle" class="roundPharm products heightPharm pharmacy" style="display: inline-block;">
		<img class="imgP" src="assets/toBeRemoved/Almasry.png"/>

	</ion-label>
</ion-label>

<ion-label  class="round products paddingLeft">
    <ng-container  *ngFor="let cat of categories; let i = index">
    <ion-label align="middle" class="roundProd products height" style="display: inline-block;">
			<img (click)="goToSubCategories(cat._id)" class="img" [attr.src]="cat.CategoryImage"/>
			<p (click)="goToSubCategories(cat._id)" class="p">{{cat.name_en}}</p>
		</ion-label>
    <br *ngIf="i%2 != 0">
  </ng-container>

</ion-label>
<!--
<ion-label class="round products paddingLeft">
		<ion-label align="middle" class="roundProd products height" style="display: inline-block;">
			<img class="img" src="assets/toBeRemoved/shampoo.png"/>
			<p class="p">Shampoo</p>
		</ion-label>
		<ion-label align="middle" class="roundProd products height" style="display: inline-block;">
			<img class="img" src="assets/toBeRemoved/perfume.png"/>
			<p class="p">Perfums</p>
		</ion-label>
</ion-label>
<ion-label class="round products paddingLeft">
		<ion-label align="middle" class="roundProd products height" style="display: inline-block;">
			<img class="img" src="assets/toBeRemoved/makeup.png"/>
			<p class="p">Make up</p>
		</ion-label>
	<ion-label align="middle" class="roundProd products height" style="display: inline-block;">
		<img class="img" src="assets/toBeRemoved/cream.png">
		<p class="p">Creams</p>
	</ion-label>
</ion-label> !-->
</div>

</ion-content>
