page-illness {
  .round {
      padding: 4%;
      font-family: "Helvetica";
      font-size: 12px;
      font-weight: 700;
      color: #0F6196;
      border-radius: 22px;
      background-color: #cdebf9;
      width: 90%;
      margin-bottom: 10px;
  }
}
