// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*.tabs-md .tab-button {
  color: white !important;
}*/
//@import "../pages/languages/languages";
//@import "../components/loading-modal/loading-modal";

.tabs-md, .tabs-ios{
  border-radius: 0px; //discovered the problem, the problem is that it applies the border
  //radius on all tabs page, not the bar below!!
  //  color: white !important;
}
 //selected color --later
 /*.tabs-md .tab-button[aria-selected=true] {
  color: #ffffff !important;
}*/

.tab-button {
    color: white !important;
  //  background-color: #000000;
}

.md .navTitle{ //only for android
  text-align: center;
  margin-left: 60px; //modiy better experience

}

 @font-face {		
	      font-family: Highland;		
	      src: url(../assets/fonts/HighlandGothicLightFLF.ttf);		
	  }