page-camera {
    .block {
        position: relative;
        .deleteIcon {
            position: absolute;
            margin-left: 85%;
            margin-top: 5px
        }
    }
    .body {
        margin: 0;
        padding: 0
    }
    @font-face {
        font-family: Highland;
        src: url(../../assets/fonts/HighlandGothicLightFLF.ttf)
    }
    .header {
        text-align: center;
        color: #3CABE3;
        font-family: Highland;
        border-bottom: 3px solid #3CABE3;
        line-height: .1em;
        margin-bottom: 20px;
        margin-left: 5%;
        margin-right: 5%
    }
    .header span {
        width: 90%;
        background: #fff;
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px
    }
    .dark-button {
        padding: 20px;
        width: 90%;
        height: 15%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #0F6196;
        color: white;
        border-radius: 22px;
        font-family: "Helvetica";
        font-size: 20px;
        letter-spacing: .5px
    }
    .dark-button-smaller {
        border-radius: 15px;
        font-size: 18px;
        margin-top: 25px;
        height: 10%
    }
    div {
        display: inline-block;
        margin-right: 0
    }
    .wid {
        width: 53%;
        margin-right: -1.5%
    }
    .small {
        max-width: 80%
    }
    .text {
        margin-left: 10px;
        display: inline-block;
        margin-right: 8px;
        font-family: "Helvetica";
        font-size: 23px;
        margin-bottom: 14px
    }
    .s {
        max-width: 30%;
        margin-left: 0
    }
    .second {
        margin-left: -15px;
        width: 50%
    }
    .oval {
        margin-right: 10px;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: #cdebf9;
        border-radius: 50px;
        display: inline-block;
        font-family: "Helvetica";
        font-size: 20px;
        height: 40px
    }
    .image {
        max-width: 300px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
        margin-bottom: -10px
    }
}