<!--
  Generated template for the DetailedProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  <!-- missing buttons not showing because of styling-->


    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="navTitle">
      <!--<p class= "title"> -->
     <p class="{{'TITLELANG' | translate}} title"> {{"MEDICINE" | translate }} </p>
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="goBasket()">
        <ion-icon name="cartCustom"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goMenu()">
        <ion-icon name="setting"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding style = "margin-bottom:2px">
    <ion-input class="oval" type="search">
    <img class="image" src="assets/icon/White Loop.png"/>
    </ion-input>
    <div  *ngFor = "let res of product.data" >
    <h3>{{res.name_en}}</h3>

    <img class="medicine-image" src = "assets/icon/panadol.jpg"/>
    <button  ion-button class="cart" name="add-circle" (click)="addToCart(res)">
     <img src="assets/icon/ADD to activated.png">
  </button>
    <hr>

    <p class="text">Description: {{res.description_en}}</p>
  <hr>
  </div>


  <h1>Schedule Order</h1>
  <p>Date: {{chosenDate}}</p>
  <button ion-button (click)="pickSchedule()">Pick Time</button>


<div *ngIf="timePicked == true">
  <button class = "dark-button" ion-button (click)="addSchedule('Daily')">{{ "DAILY" | translate}}</button>
  <button class = "dark-button" ion-button (click)="addSchedule('Weekly')">{{ "WEEKLY" | translate}}</button>
  <button class = "dark-button" ion-button (click)="addSchedule('Monthly')">{{ "MONTHLY" | translate}}</button>
</div>

</ion-content>
