page-update-location {
  .body{
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: Highland;
    src: url(../assets/fonts/HighlandGothicLightFLF.ttf);
}
.validation-errors{
    margin-left: 7%;
    margin-right: 7%;
    }
  .error-message
  {
    color: red;
  }
.header{
  text-align: center;
  color: #3CABE3 ;
  font-family: Highland;
  border-bottom: 3px solid #3CABE3;
    line-height: 0.1em;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.header span{
  width: 90%;
  background: #fff ;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.text-input{
  margin-top: 0px;
  margin-bottom: 0px;
  line-height:2;
}
.dark-button{
  padding: 20px;
  width:90%;
  height: 15%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #0F6196;
  color: white;
  border-radius: 22px;
  font-family: "Helvetica";
  font-size: 20px;
  letter-spacing: 0.5px;

}
.div{
  display: inline-block;
  margin-right: 0px;
}
.floor {
    position: absolute;
    margin: auto;
    left: 55%;
}
.floorAr {
   left: 69%;
}
.appAr {
  margin-left: 25%;
}
.apart{
  margin: 0px;
 // margin-left: 7%;
}
.apart2{
  // margin-left: 7%;
}
.wid{
  width: 53%;
  margin-right: -2%;  // margin-right: -1.5%;
}
.APPA {

//  margin-right: -25%
}
.small {
  max-width: 50%;
}

.text {
  margin-left: 10px;
  display: inline-block;
  margin-right: 8px;
  font-family: "Helvetica";
  font-size: 20px;  //font-size: 23px;
  margin-bottom: 14px;
}
.s{
  max-width: 45%;
  margin-left: 0px;

}
.AP {
  max-width: 80%
}
.FL {
  max-width: 120%;
  margin-right: 2%;
}
.second{

  margin-left: -15px;
  width: 50%;
}
.oval{
  margin-right:10px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #cdebf9;
  border-radius: 50px;
  display: inline-block;
  font-family: "Helvetica";
  font-size: 20px;
  height: 40px;
}
.image{
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: -10px;
}
@media (max-width:413px) and (min-width:321px) {
    h3 {
        font-size: 1.9rem;
    }

}
@media (max-width:320px) {
    h3 {
        font-size: 1.7rem;
    }
}
}