page-menu {
    .ion-ios-cartCustom-outline,
    .ion-ios-cartCustom,
    .ion-md-cartCustom,
    .ion-md-cartCustom-outline {
        content: url('../assets/icon/deactivited cart.png');
        margin-left: 0;
        max-width: 35px;
        max-height: 150px
    }
    .ion-ios-back-outline,
    .ion-ios-back,
    .ion-md-back,
    .ion-md-back-outline {
        content: url('../assets/icon/Blue Back.png');
        max-width: 28px;
        max-height: 130px
    }
    .ion-ios-setting-outline,
    .ion-ios-setting,
    .ion-md-setting,
    .ion-md-setting-outline {
        content: url('../assets/icon/Active Blue Menu.png');
        margin-left: 0;
        max-width: 35px;
        max-height: 150px
    }
    p {
        display: block
    }
    .oval {
        line-height: 2;
        text-align: center;
        color: #3CABE3;
        max-width: 85%;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        margin-top: 0;
        margin-bottom: 4%;
        background-color: #CFEAF8;
        border-radius: 50px;
        display: inline-block;
        font-family: "Helvetica";
        font-size: 20px;
        height: 40px
    }
    .title {
        font-size: 23px;
        font-family: Highland;
    }
    hr {
        display: block;
        margin-bottom: .5em;
        margin-left: auto;
        margin-right: auto;
        border-width: 1.5px;
        border-top: 2px solid #3CABE3;
        width: 80%;
        margin-top: 1%
    }
        .toolbar-background-md{
    background: #fff;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
    margin-bottom:0px;
    }
    .toolbar-background{
    height: 60%;
    }
    .scroll-content  {
    margin-top: 55px !important
    }
    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: none;
    background: #fff;
    }
  .content-ios hr{
    margin-top: 0%;
    }
    .md,.navTitle {
      margin-left: 0px !important;
    }
}
